@import url('https://fonts.googleapis.com/css?family=Rubik:300i,400,400i,500,500i,700&amp;display=swap');

.site-header-and-placeholder-wrapper {
  position: relative;
  height: 64px;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: height 0.1s;
  z-index: 100;
  background: white;
  box-shadow: 0 0 7px 0 #00000021;
  border-bottom: 1px solid #e2e2e2;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  color: #06102a;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .wrapper-1200 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }
  }

  .nav-dropdown-menu {
    position: absolute;
    z-index: 500;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.09),
      0px 2px 4px 0px rgba(0, 0, 0, 0.09) inset;
  
    .wrapper-1200 {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.site-header.scrolled {
  box-shadow: 0 0 5px 0 #00000028;
  position: fixed;
  top: 0;
  height: 52px;

  .site-header__title a {
    font-size: 22px;
  }
}

.header-placeholder {
  background: none;
  width: 100%;
  height: 64px;
  position: absolute;

  &.active {
    display: block;
  }
}

.site-header__logo {
  max-width: 160px;
  height: 60px;
  width: 300px;
}

.site-header__title {
  a {
    color: #06102a;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}

/* Navigation ----------------------------------- */

.site-header__nav {
  height: 100%;
  display: flex;
  align-items: center;

  .menu-item-wrapper {
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;

    &:first-child {
      padding-left: 40px;
    }

    &:hover {
      .menu-item {
        color: #1e54d5;
      }
    }
  }

  .menu-item {
    color: #06102a;
    transition: all 0.05s;
    font-size: 14.5px;
    line-height: 1em;
    font-weight: 500;

    &:hover {
      color: #8a959e;
    }
  }

  .menu-item--with-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title {
      margin-right: 3px;
    }

    .icon {
      width: 20px;
      height: 20px;
      transition: all 0.1s;

      svg {
        stroke-width: 2.5 !important;
        width: 100%;
        height: 100%;
      }
    }
  }

  .menu-item-wrapper--dropdown {
    &:hover {
      .nav-dropdown-menu {
        display: block;
      }
    }
  }

  .nav-dropdown-menu {
    display: none;
  }
}

.nav-menu-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  align-items: flex-start;
  width: 100%;
}

.nav-menu-columns--50-50 {
  grid-template-columns: 1fr 1fr;

  .nav-menu-card {
    width: 50%;
  }
}

.nav-menu-columns--75-25 {
  grid-template-columns: 3fr 1fr;

  .nav-menu-column--cards {
    grid-template-columns: 1fr;
  }

  .nav-menu-card {
    width: 100%;
  }
}

.nav-menu-column--cards {
  display: flex;
  height: 100%;
  max-height: 345px;
  justify-content: flex-end;
  margin: -12px;
}

.dropdown-submenu {
  border-right: 1px solid #e3e3e3;

  &:last-child {
    border-right: none;
  }
}

/* Products, Solutions -------------------------- */

.nav-dropdown-menu--products,
.nav-dropdown-menu--solutions {
  .dm-header {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.2px;
    color: #505769;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .dm-items {
    &:hover {
      .dmi-image {
        opacity: 0.5;
      }
    }
  }

  .dm-item {
    border: none;
    margin: 0;
    color: #06102a;
    transition: all 0.1s;
    position: relative;
    width: 100%;
    min-height: 79px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      .dmi-image {
        opacity: 1;
      }
    }

    .dmi-image {
      width: 104px;
      height: 78px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 0;
      transition: opacity 0.1s;

      img {
        width: 100%;
      }
    }

    .dmi-details {
      padding: 8px 0 10px 125px;
      width: 100%;
      background: transparent;
      display: block;
      color: #06102a;
      position: relative;
      z-index: 1;

      &:hover {
        color: #1e54d5;
      }
    }

    .dmi-title {
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 2px;
    }

    .dmi-description {
      font-size: 14px;
      opacity: 0.7;
      line-height: 1.4em;
      max-width: 265px;
    }
  }
}

.nav-dropdown-menu--solutions {
  .dm-item {
    margin: 0 0 20px;
  }

  .dm-item .dmi-image {
    width: 65px;
    padding: 0;
    background: #fff;
    height: auto;
  }

  .dm-item .dmi-details {
    padding: 0 0 0 90px;
  }
}

/* Learn, Company ---------------------------------------- */

.nav-dropdown-menu--learn,
.nav-dropdown-menu--company {
  .dm-header {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.2px;
    color: #505769;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .dm-item {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #06102a;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: #1e54d5;
    }
  }
}

.nav-dropdown-menu--learn {
  .nav-menu-column:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}

.nav-dropdown-menu--company {
  .nav-menu-column:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

.nav-menu-careers-card {
  background: #06102a;
  background-image: linear-gradient(to bottom, rgba(10, 24, 63, 0.98), #110325);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  min-height: 280px;
  width: 50%;
  margin: 12px;
  height: 100%;

  p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 24px;
    text-align: center;
  }
}

/* Post Cards ----------------------------------- */

.nav-menu-card {
  background-color: #f0f5ff;
  min-height: 280px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px;

  &--no-image {
    .nav-menu-card__image {
      background: #c5d2d9 no-repeat 50%;
      background-size: cover;
      height: 100%;
      max-height: 130px;

      img {
        display: none;
      }
    }
  }

  &--events--meetup .nav-menu-card__image {
    background-image: url("../../images/events/meetup/meetup-placeholder.jpg");
    background-image: image-set(
      url("../../images/events/meetup/meetup-placeholder.jpg") 1x,
      url("../../images/events/meetup/meetup-placeholder@2x.jpg") 2x
    );
  }

  &--events--webinar .nav-menu-card__image {
    background-image: url("../../images/events/webinar/webinar-placeholder.jpg");
    background-image: image-set(
      url("../../images/events/webinar/webinar-placeholder.jpg") 1x,
      url("../../images/events/webinar/webinar-placeholder@2x.jpg") 2x
    );
  }

  &--events--online-meetup .nav-menu-card__image {
    background-image: url("../../images/events/online-meetup/online-meetup-placeholder.jpg");
    background-image: image-set(
      url("../../images/events/online-meetup/online-meetup-placeholder.jpg") 1x,
      url("../../images/events/online-meetup/online-meetup-placeholder@2x.jpg")
        2x
    );
  }

  &--events--conference .nav-menu-card__image {
    background-image: url("../../images/events/conference/conference-placeholder.jpg");
    background-image: image-set(
      url("../../images/events/conference/conference-placeholder.jpg") 1x,
      url("../../images/events/conference/conference-placeholder@2x.jpg") 2x
    );
  }
}

.nav-menu-card__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-menu-card__image {
  img {
    width: 100%;
    height: 162px;
    background: #d6dbe4 no-repeat 50%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.nav-menu-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 16px;
}

.nav-menu-card__title {
  color: #06102a;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4em;
  margin: 0 0 16px;
  flex: 1;
}

/* Demo */

.site-header__demo-button {
  .button--secondary {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
  }
}

.button--secondary {
  outline: none;
  border: 2px solid #1e54d5 !important;
  background: transparent;
  line-height: 1em;
  border-radius: 8px;
  padding: 9px 13px;
  letter-spacing: 0;
  font-family: 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #1e54d5;
  transition: all 0.2s;
  display: inline-block;
}
.button--secondary:hover {
  color: white !important;
  background: #1e54d5;
}
.button--secondary:focus {
  color: white !important;
  background: #1e54d5;
}

/* Drawer */

.site-header .drawer {
  display: none;
}

@media (max-width: 1060px) {
  .site-header__nav .menu-item-wrapper {
    padding-left: 20px;
  }
}

@media (max-width: 980px) {
  .site-header__nav {
    display: none;
  }

  .site-header .drawer {
    display: block;
  }

  .site-header .right .site-header__demo-button {
    display: none;
  }
}